.chkWithText {
  position: relative;
  top: 0.0625rem !important;
  margin-right: 0.25rem !important;
  cursor: pointer;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}
